body { 
		background-color: #ECEFF1;
}
	
#title {
	font-family: 'Baloo Bhaina', 'Consolas', 'cursive';
	font-size: 50px;
	text-align: center;
	color: #333;
	margin-top: 50px;
}

#searchbox{
	width: 30vw;
	min-width: 250px;
	height: 2.5em;
	border: none;
	border-radius: 2px;
	outline: none;
	padding-left: 15px;
	text-align: left;
	background-color: white;
	color: #333;
	font-size: 16px;
	font-family: 'Malgun Gothic', 'consolas', 'cursive';
	display: block;
	margin: 20px auto auto auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#searchbox:focus, #searchbox:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#mainframe {
	text-align: center;
	margin: 5vh 4vw 0 15vw;
}

.linkblock {
	width:20%;
	height:140px;
	margin-left:25px;
	margin-right:30px;
	margin-top:30px;
	margin-bottom:40px;
	padding-left:67px;
	padding-right:1px;
	padding-top:0;
	padding-bottom:5px;
	color:#000;
	text-align: left;
	background-position:top 0 left 0;
	background-repeat:no-repeat;
	font-family: 'Malgun Gothic', 'consolas', 'cursive';
	font-size:100%;
	display: inline-block;
	vertical-align: top;
	border-left: 3px solid #607d8b;
}

ul { 
	list-style-type: none;
	padding-left: 0;
} 

a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; font-weight:normal; color:#333; }

/*#footer a:link { text-decoration:none; font-weight:normal; color:#101010; }*/
/*#footer a:visited { text-decoration:none; font-weight:normal; color:#101010; }*/
/*#footer a:hover { text-decoration:none; font-weight:normal; color:#101010; }*/
/*#footer a:active { text-decoration:none; font-weight:normal; color:#101010; }*/
/*#footer a:focus { text-decoration:none; font-weight:normal; color:#101010; }*/